.pageContainer {
  width: 90vw;
  height: 90vh;
  margin: 0;
  bottom: 10px;
  background-image: linear-gradient(
    to bottom right,
    #5c3aa9,
    #502f9b,
    #43228c,
    #230a5c,
    #1f0854
  );
  border-radius: 33px;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 50px;
}

.pageBG {
  display: flex;
  align-items: center;
  justify-content: center;
}
