.pageContainer {
  width: 90vw;
  height: 90vh;
  margin: 100px auto 50px auto; /* Centered horizontally with top and bottom margins */
  background-image: linear-gradient(
    to bottom right,
    #150638,
    #1f0854,
    #2f1763,
    #38216d,
    #502f9b
  );
  border-radius: 33px;
  box-shadow: 0px 10px 20px rgba(31, 8, 84, 0.8); /* More consistent and smoother shadow */
  border: 1px solid #1f0854; /* Ensuring solid border visibility */
}

.pageBG {
  display: flex;
  align-items: center;
  justify-content: center;
}
